body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    border: 1px solid black;
    width: 95%;
    max-width: 500px;

    font-size: 60px;

    display: grid;
    grid-template-rows: 200px 100px;

}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.bottom {
    display: flex;
   
    
}

.bottom > div {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border: 1px solid black;

}

.left >:hover {
    color: red;

}

.right >:hover {
    color: green;
}